<div class="chat-title">
  <div class="title">
    <div class="title-name">room1</div>
  </div>
  <div class="action">
    <div class="close-action">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="chat-content">
  <div class="group">
    <div class="head-text">
      <div class="head-text-name">サンプル</div>
      <div class="head-text-date">2020/10/11 22:30</div>
    </div>
    <div class="foot-text">
      テスト
    </div>
  </div>
  <div class="group">
    <div class="head-text">
      <div class="head-text-name">サンプル</div>
      <div class="head-text-date">2020/10/11 22:45</div>
    </div>
    <div class="foot-text">
      テストテスト
    </div>
  </div>
</div>
<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>