<div class="sidebar-title">
  <div class="info">
    <%= link_to current_user.name, edit_user_path(current_user.id) %>
  </div>
  <div class="open-action">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="sidebar-content">
  <ul>
    <li>
      <a href="#">room1</a>
    </li>
    <li>
      <a href="#">room2</a>
    </li>
  </ul>
</div>