<div class="wrapper">
  <div class="sidebar">
    <div class="sidebar-title"></div>
    <div class="sidebar-content">
      <%= render "side_bar" %>
    </div>
  </div>
  <div class="chat">
    <div class="chat-title"></div>
    <div class="chat-content">
      <%= render "main_chat" %>
    </div>
    <div class="chat-form"></div>
  </div>
</div>
