.wrapper{
  display: flex;
}
.chat{
  height: 100vh;
  width: calc(100% - 300px);
  background-color: #ffffff;
}
.sidebar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
}
.chat-title{
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-content{
  height: calc(100vh - 190px);
  width: 100%;
  background-color: #FAFAFA;
  padding: 46px 40px 0px 46px;
  overflow: scroll;
}
.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.sidebar-title{
  height: 100px;
  width: 100%;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.rooms{
  height: calc(100vh - 100px);
  width: 100%;
  background-color: #2f3e51;
  overflow: scroll;
}
.info a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}
.open-action a{
  padding: 14px;
  border: 1px solid lightblue;
  color: deepskyblue;
  font-size: 10px;
  text-decoration: none;
}
.room{
  padding: 20px 0px 40px;
}
.room-name a{
  color: white;
  text-decoration: none;
}
.title{
  height: 100%;
}
.title-name{
  margin-top: 36px;
  font-size: 24px;
  color: #333;
}
.action{
  height: 100%;
}
.close-action{
  margin-top: 40px;
}
.close-action a{
  padding: 20px;
  border: 1px solid darkred;
  color: darkred;
  text-decoration: none;
}
.group{
  margin: 10px 0px 40px 0;
}
.head-text{
  margin-bottom: 10px;
  display: flex;
}
.head-text-name{
  margin-right: 10px;
  font-size: 16px;
  color: #434a54;
}
.head-text-date{
  font-size: 12px;
  color: #999;
}
.foot-text{
  font-size: 14px;
  color: #434a54;
}
.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}
.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}